img {
	border: 1px solid #CFCFCF;

}

.octocat img {
	width: 352px;
	border-radius: 5px;

	}


.authors img {
	width: 25px;
	height: 25px;
	border: none;

	}

ul {
	list-style: none;
}

.image-caption {
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	color: #CFCFCF;
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;


}

.image-number {
	color: gray;
	font-weight: bold;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
}

a {
	text-decoration: none;
	color: black;
	
}

.image-number:before {
	content: "#";
}



.image-caption {
	display: inline;
	font-size: 12px;
}

.octocat {
	float: left;
	margin: 10px;
	border-bottom: 1px solid #CFCFCF;
}

.authors {
	display: inline;
	float: right;
	padding-left: 5px;
}

.image-footer {
	position: relative;
	padding: 10px;
}

.image-footer:before {
	content: " ";
	position: absolute;
	right: 13px;
	top: -5px;
	width: 0;
  	height: 0;
	border-style: solid;
	border-width: 10px 7.5px 0 7.5px;
	border-color: #cfcfcf transparent transparent transparent;

}
